<h1>商品を新規登録</h1>

<%= form_with model: @product, url: products_path, local: true do |f| %>
  <div>
    <%= f.label :name, '商品名' %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price, '価格' %><br>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.submit '登録する' %>
  </div>
<% end %>